@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-brazAzul: #0724e2ef;
    --cor-brazAmarelo: #FDED00;
    --cor-brazaVerde: #3DBA50;
    --cor-background: #E9E9E9;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background-color: var(--cor-background);
}

a{
    color: currentColor;
    text-decoration: none;
    --bs-link-hover-color: var(--cor-brazaVerde);
}

nav.navbar.navbar-dark, .navbar-dark {
    background-color: var(--cor-brazAzul) !important;
    --bs-navbar-color: var(--cor-brazAmarelo);
    --bs-navbar-hover-color: var(--cor-brazaVerde);
}