/* .Titulo{
    text-align: center;
    color: #3DBA50;
    
} */
body{
    background-color: #E9E9E9;
}
.Titulo{
    color:var(--cor-brazaVerde);
    margin-top: 5px;
    text-align: center;
    border: 1px solid darkgreen;
   

}
.Subtitulo{
    color:darkgreen;
    margin-top: 5px;
    text-align: center;
    background-color: ;
}

img.foto{
    display: block;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 3px solid var(--cor-brazAmarelo);
}
h2{
}

p{
    padding-right: 100px;
    padding-left: 100px;
    text-align:justify;
    font-size: 16px;
}

