body{
    background-color: var(--cor-background);

}

.titulo{
    color:var(--cor-brazAzul);
    margin-top: 0.2%;
    text-align: center;
    border: 1px solid darkgreen;
}

.row{
    text-align: center;
    margin-left: 0%;
    text-align: justify;
}

img{
    
    border:1px solid darkgreen ;
    right: 30px;
    margin-top: auto;
    width: auto;
    height: 60%;
}




